
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url(background.webp) no-repeat;    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


h1 {
    text-align: center;
    color: whitesmoke;
}

.container {
   height: 900px;
    width: 900px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}



.images-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 450px;
}
.images-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 60px 30px 35px 30px;
    box-shadow: 0 0 2px;
    border-radius: 18px;
}

.images-container img:hover{
    box-shadow: none;
}

.button-container {
    display: flex;
    justify-content: center;
    
}

.button-container button{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 14px 20px 14px 20px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
}

.button-container button:active{
    transform: scale(0.96);
}
